* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    background-color: #bebdbd;
    font-family: "Open Sans";
    color: #000000;
    font-weight: 300;
  }
  
  header {
    background-color: #8993a0;
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 10000;
  }
  
  #header-inner {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #logo {
    margin-top: 3px;
    margin-left: -50px;
    float: left;
    width: 90px;
    height: 90px;
    background: url(/mareco/assets/logo.jpg)
      no-repeat center;
  }
  
  /*mobile menu icon*/
  
  #menu-icon {
    display: hidden;
    width: 50px;
    height: 50px;
    background: url(https://w7.pngwing.com/pngs/436/707/png-transparent-hamburger-button-computer-icons-menu-menu-food-text-rectangle-thumbnail.png)
      center no-repeat;
  }
  
  a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
  }
  
  /*navigation*/
  
  nav {
    float: right;
    padding: 20px 25px 0 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  nav ul li {
    font-size: 140%;
    display: inline-block;
    float: left;
    padding: 15px;
    font-weight: 300;
    margin: ;
  }
  
  nav ul li a {
    color: #304d60;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #3b7b92;
  }
  
  /*text section*/
  
  h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 3% 0 3% 0;
  }
  
  .t1 {
    font-size: 70px;
    color:#8993a0;
    -webkit-text-stroke: 2px #304d60;
    ;
  }
  
  .t2 {
    font-size: 40px;
    -webkit-text-stroke: 2px #304d60;
  }

  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 3% 0 3% 0;
  }

  h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  p {
    padding: 2%;
    text-align: justify;
    font-size: 17px;
    word-spacing: 2px;
    color: #000000;
  }
  
  .embolden {
    font-size: 20px;
    font-weight:400;
    text-transform: uppercase;
  }
  
  .hover-a {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
    padding: 0 2px 0 2px;
    color: #3b7b92;
  }
  
  .hover-a:hover {
    background-color: #3b7b92;
  }
  
  #white {
    background-color: white;
    color: black;
  }
  
  #red {
    background-color: red;
    color: white;
  }
  
  #black {
    background-color: black;
    color: red;
  }
  
  span {
    padding: 0 2px 0 2px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  #banner-wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .about-intro {
    padding-top: 95px;
  }
  
  .one-half {
    width: 44%;
    float: left;
    margin: 50px auto 50px auto;
    text-align: center;
  }
  
  .one-third {
    width: 28%;
    float: left;
    margin: 50px 0 3% 4%;
    text-align: center;
  }

  .full {
    width: 100%;
    float: left;
    margin: 50px auto;
    text-align: center;
  }
  
  #profile {
    border: 3px solid #304d60;
    border-radius: 50%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    filter: grayscale(50%);
    margin-top: -15px;
  }
  
  #profile:hover {
    -moz-transform: scale(0.985);
    -webkit-transform: scale(0.985);
    transform: scale(0.985);
    filter: grayscale(0);
  }
  
  /*parallax sections */
  .parallax-1 {
    background: url(https://cloudcdn.nz/_orakeimarine_/assets/uploads/2022/05/open-days-may-22-5.jpg?_gl=1*tjkrud*_ga*NDI2NzA0MDgzLjE3NDgwNTk3NjY.*_ga_6K17CMPTRX*czE3NDgwNTk3NjYkbzEkZzAkdDE3NDgwNTk3NjYkajYwJGwwJGgwJGR6SFZ0MzBvU19rNFA4M2R1MXFwcmhCUWZPT0x0WlFTVnN3)
      no-repeat fixed 100%;
    background-position: center;
    text-align: center;
    margin: 50px auto 50px auto;
    max-width: 1300px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
    -moz-box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
    box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
  }
  
  .parallax-2 {
    background: url(https://static.vecteezy.com/system/resources/previews/004/340/208/non_2x/work-tools-with-a-wooden-house-model-free-photo.jpg)
      no-repeat fixed 100%;
    background-position: center;
    text-align: center;
    margin: 50px auto 50px auto;
    max-width: 1300px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
    -moz-box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
    box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
  }
    
  .parallax-3 {
    background: url(https://www.brianproperties.com/hs-fs/hubfs/Stock%20Images/Two%20workers%20and%20a%20commercial%20air%20conditioner%20on%20a%20roof%2C%20commercial%20property%20management%20companies%20concept.jpg?width=1200&height=800&name=Two%20workers%20and%20a%20commercial%20air%20conditioner%20on%20a%20roof%2C%20commercial%20property%20management%20companies%20concept.jpg)
      no-repeat fixed 100%;
    background-position: center;
    text-align: center;
    margin: 50px auto 50px auto;
    max-width: 1300px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
    -moz-box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
    box-shadow: 0px 0px 40px 5px rgba(8, 34, 73, 0.5);
  }

  .parallax-inner {
    padding-top: 90px;
    padding-bottom: 225px;
  }
  
  .fixer {
    clear: both;
  }
  
  /*services*/
  
  .services-img {
    border: 2px solid #304d60;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 10%;
    margin-bottom: 25px;
    width: 350px;
    height: 220px;
  }
  
  .services-img:hover {
    -moz-transform: scale(1.015);
    -webkit-transform: scale(1.0015);
    transform: scale(1.015);
  }
  
  /*contact form */
  
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #000000;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: #000000;
  }
  
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #000000;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: #000000;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #000000;
    font-size: 0.875em;
  }
  
  input:focus::placeholder,
  textarea::focus:placeholder {
    color: #000000;
  }
  
  input::-ms-placeholder,
  textarea::-ms-placeholder {
    color: #000000;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder,
  textarea:focus::-ms-placeholder {
    color: #000000;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder,
  textarea:hover::-webkit-input-placeholder {
    color: #304d60;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder,
  textarea:hover:focus::-webkit-input-placeholder {
    color: #304d60;
  }
  
  input:hover::-moz-placeholder,
  textarea:hover::-moz-placeholder {
    color: #304d60;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder,
  textarea:hover:focus::-moz-placeholder {
    color: #304d60;
  }
  
  input:hover::placeholder,
  textarea:hover::placeholder {
    color: #304d60;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder,
  textarea:hover:focus::placeholder {
    color: #304d60;
  }
  
  input:hover::placeholder,
  textarea:hover::placeholder {
    color: #304d60;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder,
  textarea:hover::focus:-ms-placeholder {
    color: #304d60;
  }
  
  #form {
    position: relative;
    width: 100%;
    max-width: 472px;
  }
  
  input {
    font-family: "Open Sans";
    color: #304d60;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
  
    max-width: 470px;
    width: 100%;
    height: 50px;
  
    background: transparent;
    outline: none;
  
    border: solid 1px #000000;
    border-bottom: none;
  
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea {
    max-width: 470px;
    width: 100%;
    height: 110px;
    max-height: 110px;
    padding-top: 15px;
  
    background: transparent;
    outline: none;
  
    font-family: "Open Sans";
    color: #304d60;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
  
    border: solid 1px #000000;
  
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  #submit {
    max-width: 472px;
    width: 100.5%;
  
    padding: 0;
    margin: -5px 0px 0px 0px;
  
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
  
    outline: none;
    cursor: pointer;
  
    border: solid 1px #000000;
    border-top: none;
  }
  
  #submit:hover {
    color: #304d60;
  }
  
  /*social */
  
  .social {
    clear: both;
    height: 50px;
    text-align: center;
  }
  
  .social ul li {
    display: inline-block;
    margin: 20px 15px 0 15px;
  }
  
  .social ul li a {
    text-decoration: none;
    color: #304d60;
  }
  
  .social ul li i:hover {
    color: #e0dbdb;
  }
  
  /*media queries */
  
  @media screen and (max-width: 768px) {
    #logo {
      margin: 5px 0 0 10px;
    }
  
    #menu-icon {
      display: inline-block;
      margin-right: 5px;
    }
  
    nav ul,
    nav:active ul {
      display: none;
      z-index: 10000;
      position: absolute;
      padding: 20px 20px 20px 0px;
      background: #191919;
      right: 0.1px;
      top: 94px;
      text-align: center;
    }
    nav:hover ul {
      display: block;
    }
    nav li {
      text-align: center;
      width: 100%;
    }
  
    .one-third {
      width: 100%;
      margin: 5% 0%;
    }
  
    .one-half {
      width: 100%;
      margin: 5% 0%;
    }
  
    h1 {
      margin-bottom: 25px;
    }
  
    #form {
      max-width: none;
    }
  
    p {
      text-align: center;
    }
  
    img {
      max-width: 85%;
    }
  }
  

  hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
  }
  
  .fancy {
    height: 6px;
    background-image: radial-gradient(
      closest-side,
      hsla(0, 0%, 50%, 1.0),
      hsla(0, 0%, 50%, 0) 100%);
    position: relative;
  }
  .fancy:after {
    position: absolute;
    top:  50%;
    left: 50%;
    display:block;
    background-color: hsl(0, 0%, 75%);
    height: 12px;
    width:  12px;
    transform: rotate(45deg);
    margin-top:  -10px;
    margin-left: -10px;
    border-radius: 4px 0;
    border: 4px solid hsla(0, 0%, 100%, 0.35);
    background-clip: padding-box;
    box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
  }
  
  .testim {
      width: 100%;
  }
  
  .testim .wrap {
      position: relative;
      width: 100%;
      max-width: 1020px;
      padding: 40px 20px;
      margin: auto;
  }
  
  .testim .arrow {
      display: block;
      position: absolute;
      color: #304d60;
      cursor: pointer;
      font-size: 2em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all .3s ease-in-out;    
      -ms-transition: all .3s ease-in-out;    
      -moz-transition: all .3s ease-in-out;    
      -o-transition: all .3s ease-in-out;    
      transition: all .3s ease-in-out;
      padding: 5px;
      z-index: 22222222;
  }
  
  .testim .arrow:before {
      cursor: pointer;
  }
  
  .testim .arrow:hover {
      color: #304d60;
  }
      
  
  .testim .arrow.left {
      left: 10px;
  }
  
  .testim .arrow.right {
      right: 10px;
  }
  
  .testim .dots {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 60px;
      left: 0;
      display: block;
      z-index: 3333;
      height: 12px;
  }
  
  .testim .dots .dot {
      list-style-type: none;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #304d60;
      margin: 0 10px;
      cursor: pointer;
      -webkit-transition: all .5s ease-in-out;    
      -ms-transition: all .5s ease-in-out;    
      -moz-transition: all .5s ease-in-out;    
      -o-transition: all .5s ease-in-out;    
      transition: all .5s ease-in-out;
      position: relative;
  }
  
  .testim .dots .dot.active,
  .testim .dots .dot:hover {
      background: #304d60;
      border-color: #304d60;
  }
  
  .testim .dots .dot.active {
      -webkit-animation: testim-scale .5s ease-in-out forwards;   
      -moz-animation: testim-scale .5s ease-in-out forwards;   
      -ms-animation: testim-scale .5s ease-in-out forwards;   
      -o-animation: testim-scale .5s ease-in-out forwards;   
      animation: testim-scale .5s ease-in-out forwards;   
  }
      
  .testim .cont {
      position: relative;
      overflow: hidden;
  }
  
  .testim .cont > div {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0 70px 0;
      opacity: 0;
  }
  
  .testim .cont > div.inactive {
      opacity: 1;
  }
      
  
  .testim .cont > div.active {
      position: relative;
      opacity: 1;
  }
      
  
  .testim .cont div .img img {
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      border-radius: 50%;
  }
  
  .testim .cont div h2 {
      color: #304d60;
      font-size: 1em;
      margin: 15px 0;
  }
  
  .testim .cont div p {
      font-size: 1.15em;
      color: #000000;
      width: 80%;
      margin: auto;
  }
  
  .testim .cont div.active .img img {
      -webkit-animation: testim-show .5s ease-in-out forwards;            
      -moz-animation: testim-show .5s ease-in-out forwards;            
      -ms-animation: testim-show .5s ease-in-out forwards;            
      -o-animation: testim-show .5s ease-in-out forwards;            
      animation: testim-show .5s ease-in-out forwards;            
  }
  
  .testim .cont div.active h2 {
      -webkit-animation: testim-content-in .4s ease-in-out forwards;    
      -moz-animation: testim-content-in .4s ease-in-out forwards;    
      -ms-animation: testim-content-in .4s ease-in-out forwards;    
      -o-animation: testim-content-in .4s ease-in-out forwards;    
      animation: testim-content-in .4s ease-in-out forwards;    
  }
  
  .testim .cont div.active p {
      -webkit-animation: testim-content-in .5s ease-in-out forwards;    
      -moz-animation: testim-content-in .5s ease-in-out forwards;    
      -ms-animation: testim-content-in .5s ease-in-out forwards;    
      -o-animation: testim-content-in .5s ease-in-out forwards;    
      animation: testim-content-in .5s ease-in-out forwards;    
  }
  
  .testim .cont div.inactive .img img {
      -webkit-animation: testim-hide .5s ease-in-out forwards;            
      -moz-animation: testim-hide .5s ease-in-out forwards;            
      -ms-animation: testim-hide .5s ease-in-out forwards;            
      -o-animation: testim-hide .5s ease-in-out forwards;            
      animation: testim-hide .5s ease-in-out forwards;            
  }
  
  .testim .cont div.inactive h2 {
      -webkit-animation: testim-content-out .4s ease-in-out forwards;        
      -moz-animation: testim-content-out .4s ease-in-out forwards;        
      -ms-animation: testim-content-out .4s ease-in-out forwards;        
      -o-animation: testim-content-out .4s ease-in-out forwards;        
      animation: testim-content-out .4s ease-in-out forwards;        
  }
  
  .testim .cont div.inactive p {
      -webkit-animation: testim-content-out .5s ease-in-out forwards;    
      -moz-animation: testim-content-out .5s ease-in-out forwards;    
      -ms-animation: testim-content-out .5s ease-in-out forwards;    
      -o-animation: testim-content-out .5s ease-in-out forwards;    
      animation: testim-content-out .5s ease-in-out forwards;    
  }
  
  @-webkit-keyframes testim-scale {
      0% {
          -webkit-box-shadow: 0px 0px 0px 0px #eee;
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          -webkit-box-shadow: 0px 0px 10px 5px #eee;        
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          -webkit-box-shadow: 0px 0px 10px 5px #304d60;        
          box-shadow: 0px 0px 10px 5px #304d60;        
      }
  
      100% {
          -webkit-box-shadow: 0px 0px 0px 0px #304d60;        
          box-shadow: 0px 0px 0px 0px #304d60;        
      }
  }
  
  @-moz-keyframes testim-scale {
      0% {
          -moz-box-shadow: 0px 0px 0px 0px #eee;
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          -moz-box-shadow: 0px 0px 10px 5px #eee;        
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          -moz-box-shadow: 0px 0px 10px 5px #304d60;        
          box-shadow: 0px 0px 10px 5px #304d60;        
      }
  
      100% {
          -moz-box-shadow: 0px 0px 0px 0px #304d60;        
          box-shadow: 0px 0px 0px 0px #304d60;        
      }
  }
  
  @-ms-keyframes testim-scale {
      0% {
          -ms-box-shadow: 0px 0px 0px 0px #eee;
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          -ms-box-shadow: 0px 0px 10px 5px #eee;        
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          -ms-box-shadow: 0px 0px 10px 5px #304d60;        
          box-shadow: 0px 0px 10px 5px #304d60;        
      }
  
      100% {
          -ms-box-shadow: 0px 0px 0px 0px #304d60;        
          box-shadow: 0px 0px 0px 0px #304d60;        
      }
  }
  
  @-o-keyframes testim-scale {
      0% {
          -o-box-shadow: 0px 0px 0px 0px #eee;
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          -o-box-shadow: 0px 0px 10px 5px #eee;        
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          -o-box-shadow: 0px 0px 10px 5px #304d60;        
          box-shadow: 0px 0px 10px 5px #304d60;        
      }
  
      100% {
          -o-box-shadow: 0px 0px 0px 0px #304d60;        
          box-shadow: 0px 0px 0px 0px #304d60;        
      }
  }
  
  @keyframes testim-scale {
      0% {
          box-shadow: 0px 0px 0px 0px #eee;
      }
  
      35% {
          box-shadow: 0px 0px 10px 5px #eee;        
      }
  
      70% {
          box-shadow: 0px 0px 10px 5px #304d60;        
      }
  
      100% {
          box-shadow: 0px 0px 0px 0px #304d60;        
      }
  }
  
  @-webkit-keyframes testim-content-in {
      from {
          opacity: 0;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -webkit-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-moz-keyframes testim-content-in {
      from {
          opacity: 0;
          -moz-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -moz-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-ms-keyframes testim-content-in {
      from {
          opacity: 0;
          -ms-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -ms-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-o-keyframes testim-content-in {
      from {
          opacity: 0;
          -o-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -o-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @keyframes testim-content-in {
      from {
          opacity: 0;
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          transform: translateY(0);        
      }
  }
  
  @-webkit-keyframes testim-content-out {
      from {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -webkit-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-moz-keyframes testim-content-out {
      from {
          opacity: 1;
          -moz-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -moz-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-ms-keyframes testim-content-out {
      from {
          opacity: 1;
          -ms-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -ms-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-o-keyframes testim-content-out {
      from {
          opacity: 1;
          -o-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @keyframes testim-content-out {
      from {
          opacity: 1;
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
      }
  }
  
  @-webkit-keyframes testim-show {
      from {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-moz-keyframes testim-show {
      from {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-ms-keyframes testim-show {
      from {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-o-keyframes testim-show {
      from {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @keyframes testim-show {
      from {
          opacity: 0;
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          transform: scale(1);       
      }
  }
  
  @-webkit-keyframes testim-hide {
      from {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-moz-keyframes testim-hide {
      from {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-ms-keyframes testim-hide {
      from {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-o-keyframes testim-hide {
      from {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @keyframes testim-hide {
      from {
          opacity: 1;
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          transform: scale(0);
      }
  }
  
  @media all and (max-width: 300px) {
    body {
      font-size: 14px;
    }
  }
  
  @media all and (max-width: 500px) {
    .testim .arrow {
      font-size: 1.5em;
    }
    
    .testim .cont div p {
      line-height: 25px;
    }
  
  }